<!-- <div class="overflow-wrap">
  <section>
    <br/>
    <div class="container flex">
      <div class="col-md-12 col-lg-12 col-sm-12 header animated slide-in-left" data-animation="slide-in-left"><b>About Me</b></div>
      <br/>
      <div class="flex row label-wrap">
        <div class="col-lg-12 col-md-12 col-sm-12 row">
          <div class="col-lg-2 col-md-2 col-sm-2 text-center">
              <ul class="ulStyle">
                  <li class="mediaLi">
                    <a class="mediaLink" href="https://www.facebook.com/rakshith.velur" target="_blank"><fa name="facebook-square" size="3x"></fa></a>
                  </li>
                  <li class="mediaLi">
                    <a class="mediaLink" href="https://github.com/RakshithVelur" target="_blank"><fa name="github-square" size="3x"></fa></a>
                  </li>
                  <li class="mediaLi">
                    <a class="mediaLink" href="https://www.linkedin.com/in/rakshith-p-214994136" target="_blank"><fa name="linkedin-square" size="3x"></fa></a>
                  </li> 
                  <li class="mediaLi">
                    <a class="mediaLink" href="https://www.instagram.com/rakshithvelur/" target="_blank"><fa name="instagram" size="3x"></fa></a>
                  </li>
                </ul>
          </div>
          <div class="col-lg-4 col-md-8 col-sm-4 bitmoji" style="border: 1px solid black;">
        </div>
          <div class="col-lg-6 col-md-12 col-sm-6 row divPadding">
            
            <div class="col-lg-12 col-md-12 col-sm-12 divLeft">
                <div class="col-lg-12 col-md-12 col-sm-12">
                <h2>Rakshith Velur</h2>
                <h6><i>Web Developer</i></h6>
                <br/>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <ul class="ulStyle">
                  <li>
                    <fa name="user-circle" size="1x"></fa>
                    <span><b>Name: </b>Rakshith</span>
                  </li>
                  <li>
                    <fa name="calendar" size="1x"></fa>
                    <span><b>Date Of Birth: </b>Feb 25, 1994</span>
                  </li>
                  <li>
                    <fa name="map-marker" size="1x"></fa>
                    <span><b>Address: </b>Bengaluru</span>
                  </li> 
                  <li>
                      <fa name="phone" size="1x"></fa>
                      <span><b>Phone: </b>+91 9108667486</span>
                  </li>
                  <li>
                      <fa name="envelope" size="1x"></fa>
                      <span><b>Email: </b>rakshithvelur@gmail.com</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <br/>
      </div>
      <div class="flex row label-wrap">
        <br/>
        <div class="col-lg-12 col-md-12 col-sm-12 row pull-left">
          <div class="col-md-4 col-lg-4 col-sm-4" style="margin-top: 10px;">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
              <button type="button" class="btn btn-default btn-circle btn-xl removeHov"><img src="../../../assets/tachometer-alt-solid.svg"
                  alt="fast"></button>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
              <div class="label-data"><b>Analytical Mindset</b></div>
              <div>You need to have a passion for problem-solving as no matter what type of developer you are.</div>
            </div>
          </div>
          <div class="col-md-4 col-lg-4 col-sm-4" style="margin-top: 10px;">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
              <button type="button" class="btn btn-default btn-circle btn-xl removeHov"><img src="../../../assets/cogs-solid.svg"
                  alt="Flexibility" /></button>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
              <div class="label-data"><b>Flexibility</b></div>
              <div>You need to be able to adapt and respond to issues when they arise.</div>
            </div>
          </div>
          <div class="col-md-4 col-lg-4 col-sm-4" style="margin-top: 10px;">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
              <button type="button" class="btn btn-default btn-circle btn-xl removeHov"><img src="../../../assets/people-carry-solid.svg"
                  alt="team" /></button>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
              <div class="label-data"><b>Teamwork</b></div>
              <div>Communication inside a team is one of the major keys to success.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div> -->

<div class="overflow-wrap">
    <section>
      <br/>
      <div class="container flex">
        <div class="col-md-12 col-lg-12 col-sm-12 header animated slide-in-left" data-animation="slide-in-left"><b>About Me</b></div>
       
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 divPaddingZero">
            <div class="col-lg-2 col-md-2 col-sm-2 text-center normalDevices">
                <ul class="ulStyle">
                    <li class="mediaLi">
                      <a class="mediaLink" href="https://www.facebook.com/rakshith.velur" target="_blank"><fa name="facebook-square" size="3x"></fa></a>
                    </li>
                    <li class="mediaLi">
                      <a class="mediaLink" href="https://github.com/RakshithVelur" target="_blank"><fa name="github-square" size="3x"></fa></a>
                    </li>
                    <li class="mediaLi">
                      <a class="mediaLink" href="https://www.linkedin.com/in/rakshith-p-214994136" target="_blank"><fa name="linkedin-square" size="3x"></fa></a>
                    </li> 
                    <li class="mediaLi">
                      <a class="mediaLink" href="https://www.instagram.com/rakshithvelur/" target="_blank"><fa name="instagram" size="3x"></fa></a>
                    </li>
                  </ul>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2 text-center onlySmall" >
                <ul class="ulStyleSmall">
                    <li class="mediaLiSmall">
                      <a class="mediaLink" href="https://www.facebook.com/rakshith.velur" target="_blank"><fa name="facebook-square" size="3x"></fa></a>
                    </li>
                    <li class="mediaLiSmall">
                      <a class="mediaLink" href="https://github.com/RakshithVelur" target="_blank"><fa name="github-square" size="3x"></fa></a>
                    </li>
                    <li class="mediaLiSmall">
                      <a class="mediaLink" href="https://www.linkedin.com/in/rakshith-p-214994136" target="_blank"><fa name="linkedin-square" size="3x"></fa></a>
                    </li> 
                    <li class="mediaLiSmall">
                      <a class="mediaLink" href="https://www.instagram.com/rakshithvelur/" target="_blank"><fa name="instagram" size="3x"></fa></a>
                    </li>
                  </ul>
            </div>

            <div class="col-lg-4 col-md-8 col-sm-4 bitmoji" style="border: 1px solid black;">
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 divLeft">
                <div class="col-lg-12 col-md-12 col-sm-12">
                <h2>Rakshith Velur</h2>
                <h6><i>Web Developer</i></h6>
                <br/>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <ul class="ulStyle">
                  <li>
                    <fa name="user-circle" size="1x"></fa>
                    <span><b>Name: </b>Rakshith</span>
                  </li>
                  <li>
                    <fa name="calendar" size="1x"></fa>
                    <span><b>Date Of Birth: </b>Feb 25, 1994</span>
                  </li>
                  <li>
                    <fa name="map-marker" size="1x"></fa>
                    <span><b>Address: </b>Bengaluru</span>
                  </li> 
                  <li>
                      <fa name="phone" size="1x"></fa>
                      <span><b>Phone: </b>+91 9108667486</span>
                  </li>
                  <li>
                      <fa name="envelope" size="1x"></fa>
                      <span><b>Email: </b>rakshithvelur@gmail.com</span>
                  </li>
                </ul>
              </div>
            </div>
        </div>

            <div class="flex row label-wrap">
        <br/>
        <div class="col-lg-12 col-md-12 col-sm-12 row pull-left">
          <div class="col-md-4 col-lg-4 col-sm-4" style="margin-top: 10px;">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
              <button type="button" class="btn btn-default btn-circle btn-xl removeHov"><img src="../../../assets/tachometer-alt-solid.svg"
                  alt="fast"></button>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
              <div class="label-data"><b>Analytical Mindset</b></div>
              <div>You need to have a passion for problem-solving as no matter what type of developer you are.</div>
            </div>
          </div>
          <div class="col-md-4 col-lg-4 col-sm-4" style="margin-top: 10px;">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
              <button type="button" class="btn btn-default btn-circle btn-xl removeHov"><img src="../../../assets/cogs-solid.svg"
                  alt="Flexibility" /></button>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
              <div class="label-data"><b>Flexibility</b></div>
              <div>You need to be able to adapt and respond to issues when they arise.</div>
            </div>
          </div>
          <div class="col-md-4 col-lg-4 col-sm-4" style="margin-top: 10px;">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
              <button type="button" class="btn btn-default btn-circle btn-xl removeHov"><img src="../../../assets/people-carry-solid.svg"
                  alt="team" /></button>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
              <div class="label-data"><b>Teamwork</b></div>
              <div>Communication inside a team is one of the major keys to success.</div>
            </div>
          </div>
        </div>
        </div>


      </div>
    </section>
  </div>