<!-- <p>
  home works!
</p>
 -->
 <!-- <div class="overflow-wrap">
      <div class="modal-wrap flex">
          <div class="mask"></div>
      </div>
      <section class="flex height-fix">
        <div class="canvas">
          <canvas id="canvas" width="1853" height="739" style="width: 1853px;height: 739px;"></canvas>
        </div>
      </section>
 </div> -->

 <!-- <div class="overflow-wrap">
  <section class="flex height-fix">
    <img src="../../../assets/bluemetal1.jpg" id="bg"/>
    <div class="flex" style="display:flex;">
        <div class="text">
          Hello, I'm <span class="highlight">Rakshith Velur</span><br/>
          I'm a full-stack web developer.
        </div>
    </div>
  </section>
</div> -->

 <div class="container-fluid" style="padding:0px">
   <div class="col-12" style="padding:0px;">
      <img src="../../../assets/bluemetal1.jpg" id="bg"/>
      <div class="flex flexCustom">
          <div class="textCustom ">
            Hello, I'm <span class="highlight">Rakshith Velur</span><br/>
            I'm a full-stack web developer.
          </div>
      </div>
    </div>
</div>